#Python Basics Assignment

#Theory Questions

1. Python is a programming language which is used to provide instructions to computer. It is very popular language due to its simplicity to learn and code and also various libraries like numpy etc.

2. An interpreter in python is used to interpret the python script as python is an interpreted programming language.

3. Pre defined keywords in python are the preserved keyword which has specific function in python like print.

4. No Keywords cannot be used as a variable name in python

5. In python mutablity means data structures that can be modified after declaration like list.

6. List are mutable because it can be modified after declaration but tuple cannot. hence tuple are immutable.

7. == operator is used to check equality between two data whereas is operator is used to check address of data.

8. In python logical operators are used to com bine conditional statements like and or

9. In python typecasting is used to convert variable from one datatype to another like from int to string

10. Implicit typecasting : Occurs on its own in python<br> Explicit typecasting: typecasting variable deliberately by the programmer

11. To do something on the basis of condition.

12. If "if" statement doesn't match the condition then elif statement will do something if the condition in elif statement mets.

13. for loop  is used to iterate through a specific range or data structure while "while" statement is used to iterarte until a condition is met.

14. If we want to iterate until a specific condition is met bthen we will use "while" statement.

#Practical Questions

In [ ]:
#1
print("Hello World!")

Hello World!

In [ ]:
#2
myname="Govind Sharma"
myage=18
print(f"My name is {myname} and my age is {myage}")

My name is Govind Sharma and my age is 18

In [ ]:
#3
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#4
import keyword
print("Is 'for' a keyword?", keyword.iskeyword("for"))

Is 'for' a keyword? True

In [ ]:
#5
lis=[1,2,True,"Govind"]
tup=(1,2,True,"Govind")
print(lis)
print(tup)
lis[2]=7
tup[2]=7#it will throw an error since tuple is immutable

[1, 2, True, 'Govind']
(1, 2, True, 'Govind')

TypeError: 'tuple' object does not support item assignment

In [2]:
#6
def chang(x,y):
    x=7
    y[2]=67
x=5
y=[1,2,5,8]
chang(x,y)
print(x)
print(y)

5
[1, 2, 67, 8]

In [4]:
#7
x=int(input("Enter first Number : "))
op=input("Enter operator : ")
y=int(input("Enter second Number : "))
if op=='+':
  print(x+y)
elif op=='-':
  print(x-y)
elif op=='*':
  print(x*y)
elif op=='/':
  print(x/y)
else:
  print("Invalid Operator")

Enter first Number : 7
Enter operator : +
Enter second Number : 5
12

In [5]:
#8
x=7
if x==7 and x%2!=0:
  print("True")
else:
  print("False")

True

In [7]:
#9
x=input("Enter a string : ")
y=int(x)
z=float(x)
a=bool(x)
print(type(y))
print(type(z))
print(type(a))

Enter a string : 1
<class 'int'>
<class 'float'>
<class 'bool'>

In [8]:
#10
# Original list with string numbers
string_numbers = ["1", "2", "3", "4", "5"]
print("Original list (strings):", string_numbers)

# Type casting string elements to integers
int_numbers = [int(num) for num in string_numbers]
print("After type casting to integers:", int_numbers)

Original list (strings): ['1', '2', '3', '4', '5']
After type casting to integers: [1, 2, 3, 4, 5]

In [12]:
#11
x=int(input("Enter a number: "))
if x>0:
  print("Positive")
elif x<0:
  print("Negative")
else:
  print("Zero")

Enter a number: 9
Positive
Enter a number: -9
Negative

In [13]:
#12
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
#13
sum=0
for i in range(1,51):
  if i%2==0:
    sum+=i
print(sum)

650

In [22]:
#14
s="Govind"
str=list(s)
i=0
j=len(str)-1
while j>=i:
  temp=str[i]
  str[i]=str[j]
  str[j]=temp
  i+=1
  j-=1
print(str)

['d', 'n', 'i', 'v', 'o', 'G']

In [21]:
#15
def fact(n):
  if n==0 or n==1:
    return 1
  return n*fact(n-1)
n=int(input("Enter a number: "))
fact(n)

Enter a number: 5

120